html,body{
  margin:0px;
  height:100%;
  background-image:url("https://i.pinimg.com/originals/51/d8/37/51d8374126446d495348b6032202126f.jpg");
  background-size:100% 100%;

}
.bg_heart{
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:100%;
 overflow:hidden;
  background-size:100% 100%;
  z-index:-1;
}

.container{
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  text-align:center;
  color:white;
  font-family:cursive;
}


.heart{
  position:absolute;
  top:-50%;
  transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -m-transform:rotate(-45deg);
}
.heart:before{
  position:absolute;
  top:-50%;
  left:0;
  display:block;
  content:"";
  width:100%;
  height:100%;
  background:inherit;
  border-radius:100%;
}
.heart:after{
  position:absolute;
  top:0;
  right:-50%;
  display:block;
  content:"";
  width:100%;
  height:100%;
  background:inherit;
  border-radius:100%;
}

@keyframes love {
  0%{top:110%}
}
@-webkit-keyframes love {
  0%{top:110%}
}
@-moz-keyframes love {
  0%{top:110%}
}
@-ms-keyframes love {
  0%{top:110%}
}


.startContainer
{
	margin-top: 400px;
	text-align: center;
  display: block;
}

.button:hover
{
  color: #afa;
  cursor: pointer;
  
}

.button3
{
  border-radius: 20px;
  padding: 10px 15px;
  color: #000;
  font-weight: bold;
  background: #66ff66;
  background: -moz-linear-gradient(top,  #66ff66 0%, #aaffaa 70%, #66ff66 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#66ff66), color-stop(70%,#aaffaa), color-stop(100%,#66ff66));
  background: -webkit-linear-gradient(top,  #66ff66 0%,#aaffaa 70%,#66ff66 100%);
  background: -o-linear-gradient(top,  #66ff66 0%,#aaffaa 70%,#66ff66 100%);
  background: -ms-linear-gradient(top,  #66ff66 0%,#aaffaa 70%,#66ff66 100%);
  background: linear-gradient(to bottom,  #66ff66 0%,#aaffaa 70%,#66ff66 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ff66', endColorstr='#66ff66',GradientType=0 );
}
.button3:hover
{
  color: #000;
  background: #44ee44;
  background: -moz-linear-gradient(top,  #44ee44 0%, #aaffaa 70%, #44ee44 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#44ee44), color-stop(70%,#aaffaa), color-stop(100%,#44ee44));
  background: -webkit-linear-gradient(top,  #44ee44 0%,#aaffaa 70%,#44ee44 100%);
  background: -o-linear-gradient(top,  #44ee44 0%,#aaffaa 70%,#44ee44 100%);
  background: -ms-linear-gradient(top,  #44ee44 0%,#aaffaa 70%,#44ee44 100%);
  background: linear-gradient(to bottom,  #44ee44 0%,#aaffaa 70%,#44ee44 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44ee44', endColorstr='#44ee44',GradientType=0 );
}

/***********************************************************/
@-webkit-keyframes pulseBox {
  0% {-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 255, 0, 0.6);}
  100% {-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 255, 0, 0.9);}
}
@-moz-keyframes pulseBox {
  0% {-moz-box-shadow: 0px 0px 10px 0px rgba(0, 255, 0, 0.6);}
  100% {-moz-box-shadow: 0px 0px 18px 0px rgba(0, 255, 0, 0.9);}
}
@-o-keyframes pulseBox {
  0% {-o-box-shadow: 0px 0px 10px 0px rgba(0, 255, 0, 0.6);}
  100% {-o-box-shadow: 0px 0px 18px 0px rgba(0, 255, 0, 0.9);}
}
@keyframes pulseBox {
  0% {box-shadow: 0px 0px 10px 0px rgba(0, 255, 0, 0.6);}
  100% {box-shadow: 0px 0px 18px 0px rgba(0, 255, 0, 0.9);}
}

.pulseBox {
  -webkit-animation-name: pulseBox;
  -moz-animation-name: pulseBox;
  -o-animation-name: pulseBox;
  animation-name: pulseBox;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  border: 0px;
}

/********************/

@-webkit-keyframes pulseText {
  0% {text-shadow: 0px 0px 8px rgba(0, 255, 0, 0.7);}
  100% {text-shadow: 0px 0px 22px rgba(0, 255, 0, 1);}
}
@-moz-keyframes pulseText {
  0% {text-shadow: 0px 0px 8px rgba(0, 255, 0, 0.7);}
  100% {text-shadow: 0px 0px 22px rgba(0, 255, 0, 1);}
}
@-o-keyframes pulseText {
  0% {text-shadow: 0px 0px 8px rgba(0, 255, 0, 0.7);}
  100% {text-shadow: 0px 0px 22px rgba(0, 255, 0, 1);}
}
@keyframes pulseText {
  0% {text-shadow: 0px 0px 8px rgba(0, 255, 0, 0.7);}
  100% {text-shadow: 0px 0px 22px rgba(0, 255, 0, 1);}
}

.pulseText {
  -webkit-animation-name: pulseText;
  -moz-animation-name: pulseText;
  -o-animation-name: pulseText;
  animation-name: pulseText;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  border: 0px;
}